@inherits LayoutComponentBase

<PageTitle>PersonalFinance</PageTitle>

<NavMenu />

<div class="page">
    <main>
        <article>
            @Body
        </article>
    </main>

    <RadzenDialog/>
</div>
