@inherits LayoutComponentBase

<PageTitle>PersonalFinance</PageTitle>

<div class="page">
   
    <NavMenu />
    
    <main>
        <article class="rz-p-0 rz-p-md-10">
            @Body
        </article>
    </main>

    <RadzenDialog/>
</div>
